{
  "name": "urbanstroi.by",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "selectedPath": "",
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/global.scss",
      "imports": [
        "scss/src/_fonts.scss",
        "scss/src/_wordpress.scss",
        "scss/src/_bootstrap.scss",
        "scss/src/_jquery.fancybox.scss",
        "scss/src/_slick.scss",
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/_normalize.scss",
        "scss/src/bootstrap/_print.scss",
        "scss/src/bootstrap/_glyphicons.scss",
        "scss/src/bootstrap/_scaffolding.scss",
        "scss/src/bootstrap/_type.scss",
        "scss/src/bootstrap/_code.scss",
        "scss/src/bootstrap/_grid.scss",
        "scss/src/bootstrap/_tables.scss",
        "scss/src/bootstrap/_forms.scss",
        "scss/src/bootstrap/_buttons.scss",
        "scss/src/bootstrap/_component-animations.scss",
        "scss/src/bootstrap/_dropdowns.scss",
        "scss/src/bootstrap/_button-groups.scss",
        "scss/src/bootstrap/_input-groups.scss",
        "scss/src/bootstrap/_navs.scss",
        "scss/src/bootstrap/_navbar.scss",
        "scss/src/bootstrap/_breadcrumbs.scss",
        "scss/src/bootstrap/_pagination.scss",
        "scss/src/bootstrap/_pager.scss",
        "scss/src/bootstrap/_labels.scss",
        "scss/src/bootstrap/_badges.scss",
        "scss/src/bootstrap/_jumbotron.scss",
        "scss/src/bootstrap/_thumbnails.scss",
        "scss/src/bootstrap/_alerts.scss",
        "scss/src/bootstrap/_progress-bars.scss",
        "scss/src/bootstrap/_media.scss",
        "scss/src/bootstrap/_list-group.scss",
        "scss/src/bootstrap/_panels.scss",
        "scss/src/bootstrap/_responsive-embed.scss",
        "scss/src/bootstrap/_wells.scss",
        "scss/src/bootstrap/_close.scss",
        "scss/src/bootstrap/_modals.scss",
        "scss/src/bootstrap/_tooltip.scss",
        "scss/src/bootstrap/_popovers.scss",
        "scss/src/bootstrap/_carousel.scss",
        "scss/src/bootstrap/_utilities.scss",
        "scss/src/bootstrap/_responsive-utilities.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/style.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss"
      ]
    },
    {
      "path": "scss/src/_bootstrap.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/_normalize.scss",
        "scss/src/bootstrap/_print.scss",
        "scss/src/bootstrap/_glyphicons.scss",
        "scss/src/bootstrap/_scaffolding.scss",
        "scss/src/bootstrap/_type.scss",
        "scss/src/bootstrap/_code.scss",
        "scss/src/bootstrap/_grid.scss",
        "scss/src/bootstrap/_tables.scss",
        "scss/src/bootstrap/_forms.scss",
        "scss/src/bootstrap/_buttons.scss",
        "scss/src/bootstrap/_component-animations.scss",
        "scss/src/bootstrap/_dropdowns.scss",
        "scss/src/bootstrap/_button-groups.scss",
        "scss/src/bootstrap/_input-groups.scss",
        "scss/src/bootstrap/_navs.scss",
        "scss/src/bootstrap/_navbar.scss",
        "scss/src/bootstrap/_breadcrumbs.scss",
        "scss/src/bootstrap/_pagination.scss",
        "scss/src/bootstrap/_pager.scss",
        "scss/src/bootstrap/_labels.scss",
        "scss/src/bootstrap/_badges.scss",
        "scss/src/bootstrap/_jumbotron.scss",
        "scss/src/bootstrap/_thumbnails.scss",
        "scss/src/bootstrap/_alerts.scss",
        "scss/src/bootstrap/_progress-bars.scss",
        "scss/src/bootstrap/_media.scss",
        "scss/src/bootstrap/_list-group.scss",
        "scss/src/bootstrap/_panels.scss",
        "scss/src/bootstrap/_responsive-embed.scss",
        "scss/src/bootstrap/_wells.scss",
        "scss/src/bootstrap/_close.scss",
        "scss/src/bootstrap/_modals.scss",
        "scss/src/bootstrap/_tooltip.scss",
        "scss/src/bootstrap/_popovers.scss",
        "scss/src/bootstrap/_carousel.scss",
        "scss/src/bootstrap/_utilities.scss",
        "scss/src/bootstrap/_responsive-utilities.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/src/bootstrap/_mixins.scss",
      "imports": [
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/src/bootstrap/_theme.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://urbanstroi.by"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/wp-content/themes/webber_urbanstroy/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "vh91.hoster.by",
      "port": 21,
      "user": "urbanstr",
      "password": "Chohk8ie"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "node_modules",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "404.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 164
      },
      {
        "file": "author.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 0
      },
      {
        "file": "category.php",
        "ctime": "2016-11-17T06:10:05.000Z",
        "mtime": "2016-11-17T06:10:05.000Z",
        "size": 17847
      },
      {
        "file": "comments.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2314
      },
      {
        "file": "css/global.css",
        "ctime": "2016-11-17T06:52:06.000Z",
        "mtime": "2016-11-17T06:52:06.000Z",
        "size": 55708
      },
      {
        "file": "css/global.css.map",
        "ctime": "2016-11-17T06:52:06.000Z",
        "mtime": "2016-11-17T06:52:06.000Z",
        "size": 18813
      },
      {
        "file": "css/style.css",
        "ctime": "2016-11-17T12:01:54.000Z",
        "mtime": "2016-11-17T12:01:54.000Z",
        "size": 49217
      },
      {
        "file": "css/style.css.map",
        "ctime": "2016-11-17T12:01:54.000Z",
        "mtime": "2016-11-17T12:01:54.000Z",
        "size": 15057
      },
      {
        "file": "css/src/_bootstrap.css",
        "ctime": "2016-11-17T06:50:18.000Z",
        "mtime": "2016-11-17T06:50:18.000Z",
        "size": 61949
      },
      {
        "file": "css/src/_bootstrap.css.map",
        "ctime": "2016-11-17T06:50:18.000Z",
        "mtime": "2016-11-17T06:50:18.000Z",
        "size": 25323
      },
      {
        "file": "css/src/_fonts.css",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 3242
      },
      {
        "file": "css/src/_fonts.css.map",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 477
      },
      {
        "file": "css/src/bootstrap/_theme.css",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 15823
      },
      {
        "file": "css/src/bootstrap/_theme.css.map",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2443
      },
      {
        "file": "fonts/opensans/opensans.css",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2982
      },
      {
        "file": "fonts/opensans/opensans.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 52472
      },
      {
        "file": "fonts/opensans/opensans.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 31836
      },
      {
        "file": "fonts/opensans/opensans.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 24908
      },
      {
        "file": "fonts/opensans/opensansbold.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 54044
      },
      {
        "file": "fonts/opensans/opensansbold.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 31512
      },
      {
        "file": "fonts/opensans/opensansbold.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 24448
      },
      {
        "file": "fonts/opensans/opensansbolditalic.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 58552
      },
      {
        "file": "fonts/opensans/opensansbolditalic.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 34396
      },
      {
        "file": "fonts/opensans/opensansbolditalic.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 26832
      },
      {
        "file": "fonts/opensans/opensansextrabold.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 55792
      },
      {
        "file": "fonts/opensans/opensansextrabold.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 32324
      },
      {
        "file": "fonts/opensans/opensansextrabold.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 25148
      },
      {
        "file": "fonts/opensans/opensansextrabolditalic.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 59760
      },
      {
        "file": "fonts/opensans/opensansextrabolditalic.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 34776
      },
      {
        "file": "fonts/opensans/opensansextrabolditalic.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 26948
      },
      {
        "file": "fonts/opensans/opensansitalic.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 57568
      },
      {
        "file": "fonts/opensans/opensansitalic.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 35020
      },
      {
        "file": "fonts/opensans/opensansitalic.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 27416
      },
      {
        "file": "fonts/opensans/opensanslight.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 51592
      },
      {
        "file": "fonts/opensans/opensanslight.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 30708
      },
      {
        "file": "fonts/opensans/opensanslight.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 23936
      },
      {
        "file": "fonts/opensans/opensanslightitalic.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 56404
      },
      {
        "file": "fonts/opensans/opensanslightitalic.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 33720
      },
      {
        "file": "fonts/opensans/opensanslightitalic.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 26256
      },
      {
        "file": "fonts/opensans/opensanssemibold.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 53300
      },
      {
        "file": "fonts/opensans/opensanssemibold.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 32108
      },
      {
        "file": "fonts/opensans/opensanssemibold.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 25028
      },
      {
        "file": "fonts/opensans/opensanssemibolditalic.ttf",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 58676
      },
      {
        "file": "fonts/opensans/opensanssemibolditalic.woff",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 35360
      },
      {
        "file": "fonts/opensans/opensanssemibolditalic.woff2",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 27796
      },
      {
        "file": "footer.php",
        "ctime": "2016-11-16T17:46:54.000Z",
        "mtime": "2016-11-16T17:46:54.000Z",
        "size": 6134
      },
      {
        "file": "functions.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 4639
      },
      {
        "file": "header.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2410
      },
      {
        "file": "img/ava.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 148370
      },
      {
        "file": "img/blok.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 68168
      },
      {
        "file": "img/brick.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 19935
      },
      {
        "file": "img/call-mob.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2008
      },
      {
        "file": "img/char1.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1920
      },
      {
        "file": "img/char2.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2271
      },
      {
        "file": "img/char3.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1905
      },
      {
        "file": "img/char4.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2631
      },
      {
        "file": "img/characteristics.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 251591
      },
      {
        "file": "img/checked-mark.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 452
      },
      {
        "file": "img/client.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1365
      },
      {
        "file": "img/dont-exit-modal-header.jpg",
        "ctime": "2016-11-16T15:50:14.000Z",
        "mtime": "2016-11-16T15:50:14.000Z",
        "size": 129352
      },
      {
        "file": "img/email.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1345
      },
      {
        "file": "img/f1.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1379
      },
      {
        "file": "img/f10.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1890
      },
      {
        "file": "img/f2.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 4934
      },
      {
        "file": "img/f3.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 3281
      },
      {
        "file": "img/f4.svg",
        "ctime": "2016-10-16T10:06:35.000Z",
        "mtime": "2016-10-16T10:06:10.000Z",
        "size": 2677
      },
      {
        "file": "img/f5.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 4093
      },
      {
        "file": "img/f6.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2502
      },
      {
        "file": "img/f7.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2395
      },
      {
        "file": "img/f8.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2330
      },
      {
        "file": "img/f9.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1120
      },
      {
        "file": "img/favicon.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 18602
      },
      {
        "file": "img/fax.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2707
      },
      {
        "file": "img/head-phones.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 19046
      },
      {
        "file": "img/home-icon.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 873
      },
      {
        "file": "img/house-plans.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2311
      },
      {
        "file": "img/image-block.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 80226
      },
      {
        "file": "img/image-block2.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 5132
      },
      {
        "file": "img/item.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 19516
      },
      {
        "file": "img/logistics-delivery-truck-in-movement.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1583
      },
      {
        "file": "img/logo-gray.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 77285
      },
      {
        "file": "img/logo.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 6188
      },
      {
        "file": "img/logo.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 8075
      },
      {
        "file": "img/madal-dont-exit-content.jpg",
        "ctime": "2016-11-16T16:00:36.000Z",
        "mtime": "2016-11-16T16:00:36.000Z",
        "size": 103422
      },
      {
        "file": "img/mail.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 873
      },
      {
        "file": "img/main-block-bg.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1698745
      },
      {
        "file": "img/manager.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 68275
      },
      {
        "file": "img/map-gray.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1315
      },
      {
        "file": "img/map.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1046
      },
      {
        "file": "img/map_mini.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 5603
      },
      {
        "file": "img/message.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 882
      },
      {
        "file": "img/minus.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 414
      },
      {
        "file": "img/mobile.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 581
      },
      {
        "file": "img/pencil.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 3487
      },
      {
        "file": "img/phone.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2158
      },
      {
        "file": "img/phone2.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2041
      },
      {
        "file": "img/planning.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 364285
      },
      {
        "file": "img/rec.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2530
      },
      {
        "file": "img/related-bg.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 187766
      },
      {
        "file": "img/related1.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 23693
      },
      {
        "file": "img/related4.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 33842
      },
      {
        "file": "img/review.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 22681
      },
      {
        "file": "img/sb2.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 270729
      },
      {
        "file": "img/sb3.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 189938
      },
      {
        "file": "img/sc-icon1.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 8825
      },
      {
        "file": "img/sc-icon2.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 8150
      },
      {
        "file": "img/sc-icon3.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 11169
      },
      {
        "file": "img/sc-icon4.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 8388
      },
      {
        "file": "img/simg1.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 89251
      },
      {
        "file": "img/slider2.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 313799
      },
      {
        "file": "img/tel.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2457
      },
      {
        "file": "img/underconstruction.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 84770
      },
      {
        "file": "img/user.svg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 2051
      },
      {
        "file": "img/zavod-rb.jpg",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 11441
      },
      {
        "file": "img/fancybox/blank.gif",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 43
      },
      {
        "file": "img/fancybox/fancybox_loading.gif",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 4348
      },
      {
        "file": "img/fancybox/fancybox_loading@2x.gif",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 12135
      },
      {
        "file": "img/fancybox/fancybox_overlay.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 76
      },
      {
        "file": "img/fancybox/fancybox_sprite.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1362
      },
      {
        "file": "img/fancybox/fancybox_sprite@2x.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 5893
      },
      {
        "file": "index.php",
        "ctime": "2016-11-17T14:48:11.000Z",
        "mtime": "2016-11-17T14:48:11.000Z",
        "size": 37962
      },
      {
        "file": "js/jquery-3.0.0.js",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 263268
      },
      {
        "file": "js/jquery.fancybox.js",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 48706
      },
      {
        "file": "js/script.js",
        "ctime": "2016-11-17T08:32:19.000Z",
        "mtime": "2016-11-17T08:32:19.000Z",
        "size": 4018
      },
      {
        "file": "js/slick.js",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 84253
      },
      {
        "file": "js/min/jquery-3.0.0-min.js",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 86351
      },
      {
        "file": "js/min/jquery-3.0.0-min.js.map",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 130969
      },
      {
        "file": "js/min/jquery.fancybox-min.js",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 23037
      },
      {
        "file": "js/min/jquery.fancybox-min.js.map",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 30633
      },
      {
        "file": "js/min/script-min.js",
        "ctime": "2016-11-17T08:32:19.000Z",
        "mtime": "2016-11-17T08:32:19.000Z",
        "size": 2867
      },
      {
        "file": "js/min/script-min.js.map",
        "ctime": "2016-11-17T08:32:19.000Z",
        "mtime": "2016-11-17T08:32:19.000Z",
        "size": 2799
      },
      {
        "file": "js/min/slick-min.js",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 41589
      },
      {
        "file": "js/min/slick-min.js.map",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 47770
      },
      {
        "file": "page.php",
        "ctime": "2016-09-28T06:41:58.000Z",
        "mtime": "2016-09-28T06:41:58.000Z",
        "size": 17608
      },
      {
        "file": "prepros.cfg",
        "ctime": "2016-11-19T06:28:44.000Z",
        "mtime": "2016-11-19T06:28:44.000Z",
        "size": 102367
      },
      {
        "file": "screenshot.png",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 32762
      },
      {
        "file": "search.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 1591
      },
      {
        "file": "searchform.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 422
      },
      {
        "file": "sidebar.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 848
      },
      {
        "file": "single-product.php",
        "ctime": "2016-11-22T10:44:34.000Z",
        "mtime": "2016-11-22T10:44:34.000Z",
        "size": 7577
      },
      {
        "file": "single.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 17608
      },
      {
        "file": "style.css",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 129
      },
      {
        "file": "tag.php",
        "ctime": "2016-09-28T06:34:39.000Z",
        "mtime": "2016-09-28T06:34:39.000Z",
        "size": 0
      },
      {
        "file": "taxonomy-products.php",
        "ctime": "2016-11-22T10:49:21.000Z",
        "mtime": "2016-11-22T10:49:21.000Z",
        "size": 6287
      },
      {
        "file": ".git/FETCH_HEAD",
        "ctime": "2016-11-22T10:52:07.000Z",
        "mtime": "2016-11-22T10:52:07.000Z",
        "size": 101
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"ruby-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"compiler-ruby-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{}}",
  "file-type-less": "{}",
  "autoprefixer": {
    "browsers": "last 3 versions"
  },
  "file-type-pug": "{}",
  "file-type-css": "{}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"min\"},\"sourceMap\":true}",
  "file-type-stylus": "{}",
  "file-type-markdown": "{}",
  "file-type-haml": "{}",
  "file-type-slim": "{}",
  "file-type-coffee-script": "{}",
  "file-type-livescript": "{}",
  "file-type-kit": "{}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{}",
  "file-type-png": "{}",
  "file-type-jpg": "{}"
}