{
  "name": "urbanstroi.by",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "selectedPath": "",
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/global.scss",
      "imports": [
        "scss/src/_fonts.scss",
        "scss/src/_wordpress.scss",
        "scss/src/_bootstrap.scss",
        "scss/src/_jquery.fancybox.scss",
        "scss/src/_slick.scss",
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/_normalize.scss",
        "scss/src/bootstrap/_print.scss",
        "scss/src/bootstrap/_glyphicons.scss",
        "scss/src/bootstrap/_scaffolding.scss",
        "scss/src/bootstrap/_type.scss",
        "scss/src/bootstrap/_code.scss",
        "scss/src/bootstrap/_grid.scss",
        "scss/src/bootstrap/_tables.scss",
        "scss/src/bootstrap/_forms.scss",
        "scss/src/bootstrap/_buttons.scss",
        "scss/src/bootstrap/_component-animations.scss",
        "scss/src/bootstrap/_dropdowns.scss",
        "scss/src/bootstrap/_button-groups.scss",
        "scss/src/bootstrap/_input-groups.scss",
        "scss/src/bootstrap/_navs.scss",
        "scss/src/bootstrap/_navbar.scss",
        "scss/src/bootstrap/_breadcrumbs.scss",
        "scss/src/bootstrap/_pagination.scss",
        "scss/src/bootstrap/_pager.scss",
        "scss/src/bootstrap/_labels.scss",
        "scss/src/bootstrap/_badges.scss",
        "scss/src/bootstrap/_jumbotron.scss",
        "scss/src/bootstrap/_thumbnails.scss",
        "scss/src/bootstrap/_alerts.scss",
        "scss/src/bootstrap/_progress-bars.scss",
        "scss/src/bootstrap/_media.scss",
        "scss/src/bootstrap/_list-group.scss",
        "scss/src/bootstrap/_panels.scss",
        "scss/src/bootstrap/_responsive-embed.scss",
        "scss/src/bootstrap/_wells.scss",
        "scss/src/bootstrap/_close.scss",
        "scss/src/bootstrap/_modals.scss",
        "scss/src/bootstrap/_tooltip.scss",
        "scss/src/bootstrap/_popovers.scss",
        "scss/src/bootstrap/_carousel.scss",
        "scss/src/bootstrap/_utilities.scss",
        "scss/src/bootstrap/_responsive-utilities.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/style.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss"
      ]
    },
    {
      "path": "scss/src/_bootstrap.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/_normalize.scss",
        "scss/src/bootstrap/_print.scss",
        "scss/src/bootstrap/_glyphicons.scss",
        "scss/src/bootstrap/_scaffolding.scss",
        "scss/src/bootstrap/_type.scss",
        "scss/src/bootstrap/_code.scss",
        "scss/src/bootstrap/_grid.scss",
        "scss/src/bootstrap/_tables.scss",
        "scss/src/bootstrap/_forms.scss",
        "scss/src/bootstrap/_buttons.scss",
        "scss/src/bootstrap/_component-animations.scss",
        "scss/src/bootstrap/_dropdowns.scss",
        "scss/src/bootstrap/_button-groups.scss",
        "scss/src/bootstrap/_input-groups.scss",
        "scss/src/bootstrap/_navs.scss",
        "scss/src/bootstrap/_navbar.scss",
        "scss/src/bootstrap/_breadcrumbs.scss",
        "scss/src/bootstrap/_pagination.scss",
        "scss/src/bootstrap/_pager.scss",
        "scss/src/bootstrap/_labels.scss",
        "scss/src/bootstrap/_badges.scss",
        "scss/src/bootstrap/_jumbotron.scss",
        "scss/src/bootstrap/_thumbnails.scss",
        "scss/src/bootstrap/_alerts.scss",
        "scss/src/bootstrap/_progress-bars.scss",
        "scss/src/bootstrap/_media.scss",
        "scss/src/bootstrap/_list-group.scss",
        "scss/src/bootstrap/_panels.scss",
        "scss/src/bootstrap/_responsive-embed.scss",
        "scss/src/bootstrap/_wells.scss",
        "scss/src/bootstrap/_close.scss",
        "scss/src/bootstrap/_modals.scss",
        "scss/src/bootstrap/_tooltip.scss",
        "scss/src/bootstrap/_popovers.scss",
        "scss/src/bootstrap/_carousel.scss",
        "scss/src/bootstrap/_utilities.scss",
        "scss/src/bootstrap/_responsive-utilities.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/src/bootstrap/_mixins.scss",
      "imports": [
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "scss/src/bootstrap/_theme.scss",
      "imports": [
        "scss/src/bootstrap/_variables.scss",
        "scss/src/bootstrap/_mixins.scss",
        "scss/src/bootstrap/mixins/_hide-text.scss",
        "scss/src/bootstrap/mixins/_opacity.scss",
        "scss/src/bootstrap/mixins/_image.scss",
        "scss/src/bootstrap/mixins/_labels.scss",
        "scss/src/bootstrap/mixins/_reset-filter.scss",
        "scss/src/bootstrap/mixins/_resize.scss",
        "scss/src/bootstrap/mixins/_responsive-visibility.scss",
        "scss/src/bootstrap/mixins/_size.scss",
        "scss/src/bootstrap/mixins/_tab-focus.scss",
        "scss/src/bootstrap/mixins/_reset-text.scss",
        "scss/src/bootstrap/mixins/_text-emphasis.scss",
        "scss/src/bootstrap/mixins/_text-overflow.scss",
        "scss/src/bootstrap/mixins/_vendor-prefixes.scss",
        "scss/src/bootstrap/mixins/_alerts.scss",
        "scss/src/bootstrap/mixins/_buttons.scss",
        "scss/src/bootstrap/mixins/_panels.scss",
        "scss/src/bootstrap/mixins/_pagination.scss",
        "scss/src/bootstrap/mixins/_list-group.scss",
        "scss/src/bootstrap/mixins/_nav-divider.scss",
        "scss/src/bootstrap/mixins/_forms.scss",
        "scss/src/bootstrap/mixins/_progress-bar.scss",
        "scss/src/bootstrap/mixins/_table-row.scss",
        "scss/src/bootstrap/mixins/_background-variant.scss",
        "scss/src/bootstrap/mixins/_border-radius.scss",
        "scss/src/bootstrap/mixins/_gradients.scss",
        "scss/src/bootstrap/mixins/_clearfix.scss",
        "scss/src/bootstrap/mixins/_center-block.scss",
        "scss/src/bootstrap/mixins/_nav-vertical-align.scss",
        "scss/src/bootstrap/mixins/_grid-framework.scss",
        "scss/src/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": false,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://urbanstroi.by"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/public_html/wp-content/themes/webber_urbanstroy/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "vh91.hoster.by",
      "port": 21,
      "user": "urbanstr",
      "password": "Chohk8ie"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "node_modules",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"ruby-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"compiler-ruby-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{}}",
  "file-type-less": "{}",
  "autoprefixer": {
    "browsers": "last 3 versions"
  },
  "file-type-pug": "{}",
  "file-type-css": "{}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"min\"},\"sourceMap\":true}",
  "file-type-stylus": "{}",
  "file-type-markdown": "{}",
  "file-type-haml": "{}",
  "file-type-slim": "{}",
  "file-type-coffee-script": "{}",
  "file-type-livescript": "{}",
  "file-type-kit": "{}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{}",
  "file-type-png": "{}",
  "file-type-jpg": "{}"
}